.st0 {
  fill-opacity: 0
}
.btn{
  cursor: pointer;
}
.avo{
  opacity:1;
  position: relative;
  overflow: auto;
}
.avo.visible{
  opacity:1;
  position: relative;
  overflow:auto;
}

html{
  -webkit-user-select: none;
  font-family: 'Helvetica Neue',Helvetica,Arial,PingFangSC-Regular,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-weight: 300;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
