.st0{
  fill:none;
}
.title{
    fill:#3F3E32;
    font-family:'Bree Serif', serif;
    src : url("https://fonts.googleapis.com/css?family=Bree+Serif");
    font-size:45.4003px;
  }
  .text{
      font-family:'Fira Sans', sans-serif;
      src : url("https://fonts.googleapis.com/css?family=Fira+Sans:300");
      font-size:13.6201px;
    }
.st4{
  fill:none;
  stroke:#3C3C3B;
  stroke-width:3.7834;
  stroke-miterlimit:10;
}
.p3_btn{
  fill:#000000;
  opacity:0;
}
.p3_btn:hover{
  fill:#000000;
  opacity:0.5;
}
.btn{
  opacity:0;
}
.btn:hover{
  opacity:0.4;
}
.Tble{
  opacity:0;
}
.Tble.visible{
  opacity:1;
}

.imex_text{
    fill:#202020;
    font-family:'Fira Sans', sans-serif;
    src : url("https://fonts.googleapis.com/css?family=Fira+Sans" ) ;
    font-size:11px;
}

.st20{fill:#FFFFFF;}

.p2btn_bk{
  fill:none;
  stroke:#3C3C3B
}
.btn_p2:hover{
  opacity:0.5;
}
.p2btn_bk.click{
  fill:#000000;
}

.imex_text.click{
  fill:#FFFFFF;
}
/*p2_pic*/
.p2_pic.show{
  opacity:1;
}
.p2_pic.hide{
  opacity:0;
}
#import_pic2{
  display:none;
}
.greeny{fill:#8ABE42;}
.whitee{fill:none;}
.insid{fill:#FFFFFF;}
.text-button{
    fill:#3C3C3B;
    font-size:10px;
    font-family:'Bree Serif', serif;
    src : url("https://fonts.googleapis.com/css?family=Bree+Serif");}

*{
    padding:0;
    margin:0;
}
.trees:hover{
    opacity:0.5;
}
.trees{
    opacity:1;
    cursor: pointer;
}
.trees.hide{
    opacity:0;
}
