.st0{
  fill:none;
}
.title{
    fill:#3F3E32;
    font-family:'Bree Serif', serif;
    src : url("https://fonts.googleapis.com/css?family=Bree+Serif");
    font-size:45.4003px;
  }
  .text{
      font-family:'Fira Sans', sans-serif;
      src : url("https://fonts.googleapis.com/css?family=Fira+Sans:300");
      font-size:13.6201px;
    }
.st4{
  fill:none;stroke:#3C3C3B;
  stroke-width:3.7834;
  stroke-miterlimit:10;
}
.st16{fill:#202020;}
.st17{
    font-family:'Fira Sans', sans-serif;
    src : url("https://fonts.googleapis.com/css?family=Fira+Sans" ) ;
}
.st18{font-size:11px;}
.st20{fill:#FFFFFF;}
.stroke{fill:none;stroke:#3C3C3B}
.greeny{fill:#8ABE42;}
.whitee{fill:none;}
.insid{fill:#FFFFFF;}
.text-button{
    fill:#3C3C3B;
    font-size:10px;
    font-family:'Bree Serif', serif;
    src : url("https://fonts.googleapis.com/css?family=Bree+Serif");}
}
*{
    padding:0;
    margin:0;
}
