.st0{fill:none;}
.st1{fill:#3F3E32;}
.st2{font-family:'BreeSerif-Regular';}
.st3{font-size:45.4003px;}
.st4{fill:none;stroke:#3C3C3B;stroke-width:3.7834;stroke-miterlimit:10;}
.st5{font-family:'FiraSans-Light';}
.st6{font-size:13.6201px;}
.st7{display:none;}
.st8{display:inline;}
.st9{fill:#F6F3BF;stroke:#000000;stroke-width:1.5812;stroke-miterlimit:10;}
.st10{font-family:'NittiBasic-Light';}
.st11{font-size:10.5413px;}
.st12{font-family:'NittiBasic-Medium';}
.st13{font-size:12.6496px;}
.st14{letter-spacing:-5;}
.st15{clip-path:url(#SVGID_4_);}
.st16{fill:#202020;stroke:#202020;stroke-miterlimit:10;}
.st17{fill:#FFFFFF;}
.st18{font-family:'FiraSans-Regular';}
.st19{font-size:11px;}
.st20{fill:none;stroke:#202020;stroke-miterlimit:10;}
.st21{fill:#202020;}
.st22{opacity:0.75;fill:#F6F3BF;stroke:#000000;stroke-width:1.6054;stroke-miterlimit:10;}
.st23{fill:url(#SVGID_13_);}
.st24{fill:none;stroke:#4E4D4D;stroke-width:1.0095;stroke-miterlimit:10;}
.st25{fill:none;stroke:#4E4D4D;stroke-width:1.0095;stroke-miterlimit:10;stroke-dasharray:2.0534,2.0534;}
.st26{fill:none;stroke:#4E4D4D;stroke-width:1.0095;stroke-miterlimit:10;stroke-dasharray:2.0529,2.0529;}
.st27{fill:none;stroke:#4E4D4D;stroke-width:1.0095;stroke-miterlimit:10;stroke-dasharray:2.0175,2.0175;}
.st28{fill:#FFFFFF;stroke:#4E4D4D;stroke-width:1.0095;stroke-miterlimit:10;}
.st29{fill:#010000;}
.st30{font-family:'FiraSans-Bold';}
.st31{font-size:10.1409px;}
.st32{fill:#4E4D4D;}
.st33{font-size:8.6922px;}
